<ng-container>
  <div class="h-100 w-100 bg-blue-300 text-center text-48">
    Composer
  </div>
  <div class="h-100 w-100 bg-blue-300 text-center text-48">
    Tree
    <app-tree-viewer />
  </div>
  <div class="h-100 w-100 bg-blue-300 text-center text-48">
    Style Editor
    <app-style-editor />
  </div>
  <button class="h-100 w-100 bg-blue-300 text-center text-48" (click)="addNewComponent()">Save</button>
  <button class="" (click)="previewPage()" mat-raised-button color="primary">Preview</button>
</ng-container>
