<div class="flex flex-col items-center h-full min-h-fit w-full">
  <div *ngIf="!isPreview">
    <button mat-button (click)="onAddRowTop()">+</button>
  </div>
  <div class="flex flex-col items-stretch w-full">
      <app-child [id]="id"
                 [parentName]="name"
                 [isPreview]="isPreview"
                 *ngFor="let id of childGridArr" />
  </div>
  <div  *ngIf="!isPreview">
    <button (click)="onAddRowBottom()" mat-button>+</button>
    <button (click)="dupeBottomRow()" mat-button>Duplicate</button>
  </div>
</div>


