<div class=" flex flex-col absolute top-0 left-0 right-0 bottom-0 w-full" [class.is-mobile]="isMobile()">
  <mat-toolbar class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">Website Builder</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="isMobile() ? 56 : 0">
    <mat-sidenav #snav
                 [mode]="isMobile() ? 'over' : 'side'"
                 [fixedInViewport]="isMobile()" fixedTopGap="56"
                 [opened]="true"
    >
      <mat-nav-list>
        @for (nav of panelItems; track nav) {
          <a mat-list-item routerLink="." (click)="onPanelClick(nav)" class="p-5">{{ nav.panelName }}</a>
        }
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-container #dynamicContainer></ng-container>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
