<main class="container-center">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex-container">

    <mat-form-field floatLabel="auto" appearance="fill" [style.width.px]="240">
      <mat-label>Email</mat-label>
      <input matInput [type]="'text'" placeholder="milan@example.com" formControlName="email"/>
    </mat-form-field>

    <mat-form-field floatLabel="auto" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password"/>
      <button
        mat-icon-button
        matSuffix
        (click)="passwordClickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
        type="button"
      >
        <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <button type="submit" [disabled]="!isFormValid()">Login</button>

  </form>
</main>
