<div class="w-100 min-h-full bg-red-200 flex flex-col content-center items-center">
  <p class="text-3xl p-4 select-none">Navigation Manager</p>
  <div class="italic text-lg p-2 select-none">
    The <b>Navigation Manages</b> the logo, site name, and the links to the pages on your site.
  </div>
  <div class="w-full mt-4">
    <app-navbar-renderer [parentComponent]="COMPONENT_NAME.NAV_MGR" />
  </div>

  <div class="flex flex-col content-center">
    <div>
      <input class="form-control" type="file"
             (change)="onChange($event)" [className]="'w-64 p-4'">
      <button mat-stroked-button (click)="onUploadImage()">Upload Logo</button>
    </div>
    <mat-form-field>
      <mat-label>Site Brand Name</mat-label>
      <input matInput placeholder="Enter Name" [(ngModel)]="navState.brandName">
    </mat-form-field>
  </div>

  <div class="w-5/6 p-4 flex flex-col items-center">
    <div class="italic text-lg p-4">Rearrange the ordering of your nav-elements!</div>
    <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
      @for (navElement of navElements; track navElement) {
        <div class="example-box" cdkDrag>{{ navElement.displayName }}</div>
      }
    </div>
  </div>

  <div class="p-2">
    <app-mapper [(mappedObjects)]="navElements"
                [col1]="'displayed name'"
                [col1key]="'displayName'"
                [col2]="'page component'"
                [col2key]="'pageName'"
                [options]="availableSitesFromUser" />
  </div>
</div>
