<div class="w-full min-h-full flex flex-col items-center bg-cyan-300">
    <div class="w-full h-10 bg-amber-600">
        <div class="flex justify-center items-center h-full">
            @for (social of hyperlinks; track social) {
                <div class="mr-2">
                    <fa-icon [icon]="SOCIAL_MEDIA_LOOKUP[social.socialMedia]" class="hover:cursor-pointer"
                             (click)="onOpenSocial(social.hyperlink)"></fa-icon>
                </div>
            }
        </div>
    </div>

    <div class="w-5/6 p-4">
        Rearrange!
        <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
            @for (socialElement of hyperlinks; track socialElement) {
                <div class="example-box" cdkDrag>{{ socialElement.socialMedia }}</div>
            }
        </div>
    </div>

    <div>
        <app-mapper
                [(mappedObjects)]="hyperlinks"
                [col1]="'hyperlink'"
                [col1key]="'hyperlink'"
                [col2]="'social media'"
                [col2key]="'socialMedia'"
                [options]="socialMediaKeys"
                [dropdownName]="'Choose Icon'"
        />
    </div>

</div>
