<main class=" flex-container h-screen">
  <div>
    <div class="text-center text-2xl">Email with the code has been sent to</div>
    <div class="text-center font-bold text-xl mb-4 pb-4">{{ enteredEmail }}</div>
  </div>
  <div class="flex flex-row justify-center">
    <input id="1" #1 type="text" maxlength="1" class="code" [(ngModel)]="digit1"
           (input)="moveForward($event, 2)" (paste)="handlePaste($event)"
    >
    <input id="2" #2 type="text" maxlength="1" class="code" [(ngModel)]="digit2"
           (input)="moveForward($event, 3)"
           (keyup.backspace)="moveBack(1)">
    <input id="3" #3 type="text" maxlength="1" class="code" [(ngModel)]="digit3"
           (input)="moveForward($event, 4)"
           (keyup.backspace)="moveBack(2)">
    <div id="splitter" class="w-8 h-2 bg-black mt-auto mb-auto"></div>
    <input id="4" #4 type="text" maxlength="1" class="code" [(ngModel)]="digit4"
           (input)="moveForward($event, 5)"
           (keyup.backspace)="moveBack(3)">
    <input id="5" #5 type="text" maxlength="1" class="code" [(ngModel)]="digit5"
           (input)="moveForward($event, 6)"
           (keyup.backspace)="moveBack(4)">
    <input id="6" #6 type="text" maxlength="1" class="code" [(ngModel)]="digit6"
           (keyup.backspace)="moveBack(5)"
           (input)="moveForward($event, 7)">
  </div>
  <app-button (click)="onSubmit()" [disabled]="isFormComplete()" [label]="'Submit'"/>

  <div>
    <app-button (click)="onResendCode()" [disabled]="countDownToResendCode === null || countDownToResendCode > 0"
                [label]="'Resend Code'"/>
  </div>
  <div *ngIf="countDownToResendCode !== null && countDownToResendCode > 0">{{ countDownToResendCode }}s</div>
  <div *ngIf="countDownToResendCode === null" class="italic">{{ awaitMessage }}</div>

</main>
