<div class="flex flex-row items-center justify-between h-full min-h-fit w-full">
  <div>
    <button class="mr-4" mat-fab (click)="onAddToLeft()" *ngIf="!isPreview">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="flex flex-row items-center">
    <app-child [id]="id" [parentName]="name" [isPreview]="isPreview" *ngFor="let id of childGridArr"/>
  </div>
  <div>
    <button class="ml-4" mat-fab (click)="onAddToRight()" *ngIf="!isPreview">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>


